@{
    Layout = null;
}

<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tất cả danh mục</span>
                    </div>
                    <ul>
                        <li><a href="#">Ưu đãi hội viên</a></li>
                        <li><a href="#">Khuyến mãi</a></li>
                        <li><a href="#">Thực phẩm tươi</a></li>
                        <li><a href="#">Chế biến sẵn</a></li>
                        <li><a href="#">Rau củ - Trái cây</a></li>
                        <li><a href="#">Hóa phẩm - Tẩy rửa</a></li>
                        <li><a href="#">Chăm sóc cá nhân</a></li>
                        <li><a href="#">Sữa các loại</a></li>
                        <li><a href="#">Bánh kẹo</a></li>
                        <li><a href="#">Đồ uống</a></li>
                        <li><a href="#">Thực phẩm khô</a></li>
                        <li><a href="#">Gia vị</a></li>
                        <li><a href="#">Đồ dùng gia đình</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tất cả danh mục
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Bạn đang cần gì?">
                            <button type="submit" class="site-btn">TÌM KIẾM</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>Hỗ trợ 24/7</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
