<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ogani Template" />
    <meta name="keywords" content="Ogani, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] | MINIMART</title>

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@500&display=swap"
          rel="stylesheet" />
</head>

<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="humberger__menu__overlay"></div>

    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="~/img/logo.png" alt="" /></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-heart"></i> <span>1</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
                </li>
            </ul>
            <div class="header__cart__price">Tổng đơn: <span>150,000VND</span></div>
        </div>
        <div class="humberger__menu__widget">
            <!-- <div class="header__top__right__language">
                    <img src="~/img/language.png" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div> -->
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Đăng nhập</a>
                <a href="#"><i class="fa fa-user"></i> Đăng ký</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Trang chủ</a></li>
                <li><a href="./shop-grid.html">Cửa hàng</a></li>
                <li>
                    <a href="#">Trang khác</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Thông tin sản phẩm</a></li>
                        <li><a href="./shoping-cart.html">Giỏ hàng</a></li>
                        <li><a href="./checkout.html">Thanh toán</a></li>
                        <!-- <li><a href="./blog-details.html">Tin tức</a></li> -->
                    </ul>
                </li>
                <li><a href="./blog.html">Tin tức</a></li>
                <li><a href="./contact.html">Liên hệ</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@minimartorder.com</li>
                <li>
                    Đặt hàng nhanh chóng và tiện lợi<iframe src=""
                                                            frameborder="0"></iframe>
                </li>
            </ul>
        </div>
    </div>
    
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>
                                    <i class="fa fa-envelope"></i> hello@minimartorder.com
                                </li>
                                <li>Đặt hàng nhanh chóng và tiện lợi</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <!-- <div class="header__top__right__language">
                                            <img src="~/img/language.png" alt="">
                                            <div>English</div>
                                            <span class="arrow_carrot-down"></span>
                                            <ul>
                                                <li><a href="#">Spanis</a></li>
                                                <li><a href="#">English</a></li>
                                            </ul>
                                        </div> -->
                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i>Đăng nhập</a>
                                <a href="#"><i class="fa fa-user"></i>Đăng ký</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="~/img/logo.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="./index.html">Trang chủ</a></li>
                            <li><a href="./shop-grid.html">Cửa hàng</a></li>
                            <li>
                                <a href="#">Trang khác</a>
                                <ul class="header__menu__dropdown">
                                    <li>
                                        <a href="./shop-details.html">Thông tin sản phẩm</a>
                                    </li>
                                    <li><a href="./shoping-cart.html">Giỏ hàng</a></li>
                                    <li><a href="./checkout.html">Thanh toán</a></li>
                                    <!-- <li><a href="./blog-details.html">Tin tức</a></li> -->
                                </ul>
                            </li>
                            <li><a href="./blog.html">Tin tức</a></li>
                            <li><a href="./contact.html">Liên hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a>
                            </li>
                        </ul>
                        <div class="header__cart__price">
                            Tổng đơn: <span>150,000VND</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>

    @RenderBody()

    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="~/img/logo.png" alt="" /></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: Tầng 1, tòa 6th Element, Tây Hồ, Hà Nội</li>
                            <li>Số điện thoại: +65 11.188.888</li>
                            <li>Email: hello@minimartorder.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Thông tin khác</h6>
                        <ul>
                            <li><a href="#">Về Chúng Tôi</a></li>
                            <li><a href="#">Về Cửa Hàng</a></li>
                            <li><a href="#">Mua Sắm An Toàn</a></li>
                            <li><a href="#">Thông Tin Chuẩn Bị Hàng</a></li>
                            <li><a href="#">Bảo Mật</a></li>
                            <li><a href="#">Vị trí cửa hàng</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Chúng Tôi Là Ai</a></li>
                            <li><a href="#">Các Dịch Vụ</a></li>
                            <li><a href="#">Các Dự Án</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Sự đổi mới</a></li>
                            <li><a href="#">Feedback</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Hãy Đăng Ký Để Nhận Thông Tin Sớm Nhất</h6>
                        <p>
                            Nhận thông tin cập nhật qua Email mới nhất về cửa hàng và các ưu
                            đãi đặc biệt của chúng tôi.
                        </p>
                        <form action="#">
                            <input type="text" placeholder="Nhập địa chỉ email tại đây" />
                            <button type="submit" class="site-btn">Theo dõi</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>
                                    document.write(new Date().getFullYear());
                                </script>
                                All rights reserved | This template is made with
                                <i class="fa fa-heart" aria-hidden="true"></i> by
                                <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment">
                            <img src="~/img/payment-item.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
</body>
</html>
