@{
    ViewData["Title"] = "Chi tiết sản phẩm";
}

@Html.Partial("~/Views/Shared/_CommonMenu.cshtml")

<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Set Rau Củ Tươi</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Trang chủ</a>
                        <a href="./index.html">Rau Củ</a>
                        <span>Set Rau Củ Tươi</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                             src="~/img/product/details/product-details-1.jpg" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="img/product/details/product-details-2.jpg"
                             src="~/img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="img/product/details/product-details-3.jpg"
                             src="~/img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="img/product/details/product-details-5.jpg"
                             src="~/img/product/details/thumb-3.jpg" alt="">
                        <!-- <img data-imgbigurl="img/product/details/product-details-4.jpg"
                            src="~/img/product/details/thumb-4.jpg" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>Set Rau Củ Tươi</h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 đánh giá)</span>
                    </div>
                    <div class="product__details__price">100,000VND</div>
                    <p>
                        Set rau ghém 350-400gr gồm 5-6 loại rau thơm (rau tùy theo mùa) đã được sơ chế sạch sẽ, ngâm nước muối. Rau ghém được giao trong ngày từ nông trại Thái Eco.
                        Rau được dùng ăn kèm sốt cà chua cực kỳ thanh mát.
                    </p>
                    <div class="product__details__quantity">
                        <div class="quantity">
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                    </div>
                    <a href="#" class="primary-btn">ADD TO CARD</a>
                    <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    <ul>
                        <li><b>Kho</b> <span>Còn hàng</span></li>
                        <!-- <li><b>Shipping</b> <span>01 day shipping. <samp>Free pickup today</samp></span></li> -->
                        <li><b>Cân nặng</b> <span>0.5 kg</span></li>
                        <li>
                            <b>Chia sẻ</b>
                            <div class="share">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                               aria-selected="true">Mô tả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                               aria-selected="false">Thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                               aria-selected="false">Đánh giá <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Thông Tin Sản Phẩm</h6>
                                <p>Vấn đề đáng lưu tâm khi ăn rau sống là nguồn sản phẩm sạch, rau bẩn hay không được làm sạch đúng cách còn tồn dư nhiều hóa chất, chất bẩn, khi ăn vào sẽ có hại cho cơ thể, tạo điều kiện cho vi khuẩn sinh sống. </p>
                                <p>
                                    Hiểu được nỗi lo đó, MiniMart cho ra mắt Combo Rau Sống Ăn Kèm từ trang trại Thái ECO đảm bảo tiêu chuẩn sạch, tươi, đa dạng 5-6 loại rau (rau tùy theo mùa): Kinh giới, Tía tô, Xà lách, Húng quế, Rau mùi, Giá đỗ…

                                    Combo rau sống FoodHub là gói định lượng 350-400gr phù hợp cho 3,4 người ăn bữa thường.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Nguồn Gốc Sản Phẩm</h6>
                                <p>Rau sạch Thái ECO:</p>
                                <p>    Được nhập trực tiếp từ nông trại Thái ECO. </p>
                                <p>    Ứng dụng mô hình nông nghiệp sạch công nghệ cao.</p>
                                <p>    Không bị lệ thuộc vào việc sử dụng các loại thuốc trừ sâu và phân bón hoá học.</p>
                                <p>    Đảm bảo không chỉ ngon mà còn phải tươi.</p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Phạm Thị Huyền</h6>
                                <p>Set rau rất tươi, ăn rất đảm bảo, sẽ quay lại mua tiếp.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>Sản Phẩm Liên Quan</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../img/product/product-1.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Thịt Bò</a></h6>
                        <h5>300,000VND</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../img/product/product-2.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Chuối Ngự</a></h6>
                        <h5>50,000VND</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../img/product/product-3.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Ổi Ta Ruột Hồng</a></h6>
                        <h5>30,000VND</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="../../img/product/product-7.jpg">
                        <ul class="product__item__pic__hover">
                            <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Dưa Hấu</a></h6>
                        <h5>30,000VND</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
